.footer {
    background-color: $grisOscuro;
    padding: 3rem 0;

    .contenedor-footer {
        padding-top: $separacion / 2;
    }

    .copyright {
        color: $blanco;
        text-align: center;
    }
}